extends layout

block content
    a(href="/courses")
        | See Coursera Courses
        block content
            .row
                .large-12.columns
                    .panel
                        h1= title
            .row
                include nav.jade
                .large-9.columns
                    .row
                        .medium-4.columns
                            .card
                                .image
                                    a(href='http://connect.nextthought.com')
                                        img(src='images/nextthought.png')
                                .action
                                    a(href='http://connect.nextthought.com') NextThought
