extends layout

block content
    a(href="/courses")
        | See Coursera Courses
        block content
            .row
                .large-12.columns
                    .panel
                        h1= title
            .row
                include nav.jade
