extends layout

block content
    a(href="/courses")
        | See Coursera Courses
        block content
            .row
                include nav.jade
                .large-9.columns
                    .row
                        .medium-4.columns
                            each hub in hubs
                                .card
                                    .image
                                        a(href=hub.link)
                                            img(src=hub.img)
                                    .action
                                        a(href='http://connect.nextthought.com') #{hub.name}
                                br
                    
