doctype html
html
    head
        title= title   
        link(rel='stylesheet', href='/stylesheets/profile.css')   
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/foundation-5.5.2/css/foundation.css')
        link(rel='stylesheet', href='/stylesheets/card.css')
        link(rel='stylesheet', href='/stylesheets/navTop.css')
        script(src='/javascript/profile.js')
        script(src='/stylesheets/foundation-5.5.2/js/vendor/jquery.js')
        script(src='/stylesheets/foundation-5.5.2/js/foundation.min.js')

    body
        block nav
            include navTop.jade
        block content
    footer
        block footer
            include footer.jade
