doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/foundation-5.5.2/css/foundation.css')
        link(rel='stylesheet', href='/stylesheets/card.css')
        script(src='/stylesheets/foundation-5.5.2/js/foundation.min.js')

    body
        block content
    footer
        block footer
            include footer.jade
