// Nav Sidebar
// This is source ordered to be pulled to the left on larger screens
.large-3.columns
    .panel.sidePanel
        a(href='#')
            if user
                img.profilePic
                script(type='text/javascript').
                    var profileUrl = '#{user._json.profile_image_url_https}';
                    getBiggerPicture(profileUrl);
                
            else
                img(src='./images/learning.jpg')
        h5
            if user
                a(href='#') #{user.displayName}
            else
                a(href='#') Welcome
        .section-container.vertical-nav(data-section='', data-options='deep_linking: false; one_up: true')
            section.section
                h5.title
                    a(href='/') Home
                    br
                    a(href='/courses') Coursera Courses
