nav.menu
      h1.name
        i.fi-widget
        |  Learning Hub
      ul.inline-list
        li
          a(href='/') Home
        li
          a(href='/courses') Coursera Courses
        if user
            li
              a(href='profile') Profile
      ul.inline-list.hide-for-small-only.account-action
        li
          unless user
              a.twitter(href="/login/twitter") 
                img(src='images/twitter.png')
          if user 
              a.logout.button.alert(href="/logout")
                  | Log Out
